*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0, 0, 0, 0.925) !important;
}

/*
Nav
*/

#navGral{
    height: 65px;
}
.nav-item a:hover{
    color: black !important;
    background: white !important;
}

#join:hover{
    background: white;
    color: black !important;
}
.nav-item{
    font-size: 15px;
    margin-left: 15px;
    font-family: 'Tilt Neon', cursive;
    background-color: black;
    font-weight: 900;
}
#join{
    font-size: 15px;
    padding: 10px;
    font-family: 'Tilt Neon', cursive;
    background-color: black;
    font-weight: 900;
}


/*
Carousel
*/


#containerCarouselImg{
    height: 400px !important;
}


/*
Footer
*/
#icons{
color:red;
}

