*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(0, 0, 0, 0.925) !important;
}

/*
Nav
*/
#imgFlayerC{
    width: 100%;
    height: 100%;
}
#imgFlayer{
    width: 100%;
    height: 100%;
}
#logo{
    height: 40px;
    width: 60px;
}
#cajita{
    height: 30px !important;
}
#navGral{
    height: 65px;
}
.nav-item a:hover{
    color: black !important;
    background: white !important;
}

#join:hover{
    background: white;
    color: black !important;
}
.nav-item{
    font-size: 15px;
    margin-left: 15px;
    font-family: 'Tilt Neon', cursive;
    background-color: black;
    font-weight: 900;
}
#join{
    font-size: 15px;
    padding: 10px;
    font-family: 'Tilt Neon', cursive;
    background-color: black;
    font-weight: 900;
}


/*
Carousel
*/


#containerCarouselImg{
    height: 400px !important;
}

/*
Cards
*/
#textCards{
    font-weight: 900;
}

.animate__bounceIn {
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

#imgSizeCard{
    width: 100%;
    height: 100vh;
}
/*
Footer
*/
#icons{
color:red;
}
/* 


#prueba{
    width: 300px;
    height: 350px;
} */


/*================================MEDIA QUERIES PANTALLA 
EXTRA -SM=======================*/

@media(max-width: 576px){

    /*About me*/
#intro{
    display: flex;
    flex-direction: column;
}
#parrafoSectionDiv{
   width: 100% !important;
}
#imgLive{
    display: none;
}
    /*Cards*/

#divContainerCards{
    width: 90%;
}    
    /*Footer*/

#footerP{
    font-size:14px !important ;
    display: flex;
}
#iconos > a{
    padding: 5px !important;
}    
/* #botons{
    position: relative !important;
    z-index: 1;
} */
#botons{
position: relative !important; 
z-index: 9999 !important;
}
#navGral{
    position: relative !important;
    z-index: 1 !important;
}
#navbarNav{
    position: relative !important;
    z-index: 0 !important;
}
}




/*================================MEDIA QUERIES PANTALLA 
SM=======================*/


@media (max-width:768px){

}



/*================================MEDIA QUERIES PANTALLA 
SM=======================*/

@media (max-width:1200px) {


}

@media (min-width:1200px) {

}

